<meta charset="utf8">
<a href="http://127.0.0.1/ignicao">Voltar</a>
<form method="post" action="../crud/add">
    <label>Título: <input type="text" name="title"></label><br>
    <label>Descrição: <br><textarea rows="5" name="description"></textarea></label><br>
    <label>Conteúdo: <br><textarea rows="5" name="body"></textarea></label><br>
    <label>Autor: <input type="text" name="author"></label><br>
    <input type="submit" value="Add" name="enviar">
</form>